#include <stdio.h>
#include <math.h>
#include <Windows.h>
void main(){
//Построить таблицу значений функции y=f(x) (x изменяется от xmin до xmax с шагом dx) используя два оператора цикла. 
//Проконтролировать правильность ввода xmin, xmax, dx и корректность вычисляемого выражения.
//Примечание.В протоколе необходимо указать порядок выполнения операций в соответствии с их приоритетом.
//y = 3 * sqrt(((5 * x - 9) / (7.5*a*b)) + 18) + exp(2 * x + 0.5 / a)


float x, y, xmin, xmax, dx, a, b, c;
do{
printf("Input a !=0 :");
scanf("%f", &a);
} while (a == 0);

do{
printf("Input b !=0 :");
scanf("%f", &b);
} while (b == 0);

do{
printf("Input xmin, xmax :");
scanf("%f%f", &xmin, &xmax);
} while (xmin >= xmax);


do{
printf("Input dx :");
scanf("%f", &dx);
} while ((dx >= xmax - xmin) || (dx == 0)); 

printf("\tX\t\tY\n");
printf("*********************************************************************\n");

x = xmin;
c = (5 * x - 9) / (7.5*a*b);


while (x <= xmax) {
printf("\t %5.1f", x);

if (x != 0 && c >= -18)
{ 
y = (3 * sqrt(c + 18)) + exp(2 * x + 0.5 / a);
printf("\t\t\%10.2f\n", y); 
}
else printf("\t\t error \n");


x += dx;
}


system("pause");


}
